@page
<main class="container">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
            <!-- <span class="alto_contraste">Usted est&aacute; aqu&iacute;:</span> -->
            <li>
                <a href="index.php?idcategoria=1" alt="Ir a Inicio">
                    Inicio
                </a>
            </li>
            <li>
                <a href="index.php?idcategoria=1005" alt="Ir a Educación">
                    Educación
                </a>
            </li>
            <li class="active">Cursos y capacitaciones</li>
        </ol>
    </div>
    <div class="container-titulo_principal container-titulo-cursos-listado">

        <h1 class="titulo_principal">
            Cursos y capacitaciones
        </h1>
    </div>
    <div class="container-cursos mt-3">

        <ul class="cursos-lista row g-4 px-0 d-flex align-items-stretch">
            <li class="cursos-lista-item col-lg-4 col-md-6 cursos-lista-item-camillero">
                <a href="/Cursos/Curso">
                    <div class="cursos-lista-foto"><img src="~/images/curso-camillero.jpg"></div>
                    <div class="cursos-lista-nombre">Curso de Camillero</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-muestras">
                <a href="index.php?idcategoria=67660">
                    <div class="cursos-lista-foto"><img src="~/images/curso-muestras.jpg"></div>
                    <div class="cursos-lista-nombre">Toma de Muestras para Exámenes de Laboratorio</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-amputados">
                <a href="index.php?idcategoria=86724">
                    <div class="cursos-lista-foto"><img src="~/images/curso-amputados.jpg"></div>
                    <div class="cursos-lista-nombre">Amputados y Prótesis</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-materno">
                <a href="index.php?idcategoria=86725">
                    <div class="cursos-lista-foto"><img src="~/images/curso-materno.jpg"></div>
                    <div class="cursos-lista-nombre">Ruta de Atención Integral en Salud Materno Perinatal Humana y Segura Hospital Militar Central</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-quimicos">
                <a href="index.php?idcategoria=86726">
                    <div class="cursos-lista-foto"><img src="~/images/curso-quimicos.jpg"></div>
                    <div class="cursos-lista-nombre">Atención Integral a Víctimas de Ataques con Agentes Químicos</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-humanizacion">
                <a href="index.php?idcategoria=86727">
                    <div class="cursos-lista-foto"><img src="~/images/curso-humanizacion.jpg"></div>
                    <div class="cursos-lista-nombre">Humanización Servicios de Salud</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-duelo">
                <a href="index.php?idcategoria=86728" class="align-middle">
                    <div class="cursos-lista-foto"><img src="~/images/curso-duelo.jpg"></div>
                    <div class="cursos-lista-nombre">Gestión del Duelo</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-ortopedia">
                <a href="index.php?idcategoria=86729">
                    <div class="cursos-lista-foto"><img src="~/images/curso-ortopedia.jpg"></div>
                    <div class="cursos-lista-nombre">Curso Básico de Ortopedia para Médicos Generales</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-antibiograma">
                <a href="index.php?idcategoria=86730">
                    <div class="cursos-lista-foto"><img src="~/images/curso-antibiograma.jpg"></div>
                    <div class="cursos-lista-nombre">Lectura Interpretada del Antibiograma y Uso Racional de Antibióticos</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-cardiologia">
                <a href="index.php?idcategoria=86731">
                    <div class="cursos-lista-foto"><img src="~/images/curso-cardiologia.jpg"></div>
                    <div class="cursos-lista-nombre">Cardiología al Alcance de Todos</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-urologia">
                <a href="index.php?idcategoria=86732">
                    <div class="cursos-lista-foto"><img src="~/images/curso-urologia.jpg"></div>
                    <div class="cursos-lista-nombre">Preparación para Médicos Generales  Servicio de Urología</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-epidemiologia">
                <a href="index.php?idcategoria=86733">
                    <div class="cursos-lista-foto"><img src="~/images/curso-epidemiologia.jpg"></div>
                    <div class="cursos-lista-nombre">Epidemiología para No Epidemiólogos</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-reanimacion">
                <a href="index.php?idcategoria=86735">
                    <div class="cursos-lista-foto"><img src="~/images/curso-reanimacion.jpg"></div>
                    <div class="cursos-lista-nombre">Curso Básico de Reanimación Cardio Cerebro Pulmonar</div>
                </a>
            </li>
            <li class="cursos-lista-item col-md-6 col-lg-4 cursos-lista-item-violenciasexual">
                <a href="index.php?idcategoria=86734">
                    <div class="cursos-lista-foto"><img src="~/images/curso-violenciasexual.jpg"></div>
                    <div class="cursos-lista-nombre">Atención Integral en Salud a Víctimas de Violencia Sexual</div>
                </a>
            </li>
        </ul>

    </div>
</main>
